.kimigigibg {
    background-image: url("./2021_KimiGigi_editRP.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.zuofubg {
    background-image: url("./ZuofuLi.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.karlabg {
    background-image: url("./Karla_Villarreal.JPG");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.shaojiabg {
    background-image: url("./Shaojia_Fan.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}
.seanbg {
    background-image: url("./Sean_Zhao.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}
.zacharybg {
    background-image: url("./Zachary.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.shiqibg {
    background-image: url("./shiqi_ding.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}


.beixuanbg {
    background-image: url("./Beixuan_Dong.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.amirabg {
    background-image: url("./Amira_Saleh.png");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}

.yuchenbg {
    background-image: url("./yuchen_chu.jpg");
    border-radius: 20%;
    width: 250px;
    border: 1px;
    height: 250px;
    background-size: contain;
    background-position: center;
}