/* For demo */
/* .ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #bdcdeb;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: rgb(15, 14, 14);
  } */